body{
	margin: 0;
	padding: 0;
	font-family: Arial;
	min-width: 400px;
}
#top_left{
	display: inline-flex;
	align-items: center;
	float: right;
	position: relative;
	margin: 14px;
}
#user{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	position: inherit;
}
.top_left_img{
	margin: 0 4px 0 16px;
}
.top_left_link{
	font-size: 13px;
	margin: -5px 13px 0 0;

}
.link{
	text-decoration: none;
	color: black;
}
.link:hover{
	text-decoration: underline;
}
.center{
	display: flex;
	width: 100vw;
	min-width: 400px;
	justify-content: center;
}
.sb{
	width: 100vw;
	min-width: 400px;
	margin-top: 48px;
	display: inline-flex;
}
#sb{
	max-width: 488px;
	min-width: 312px;
	width: 80%;
	height: 24px;
	border: none;
}
#sb:hover,#sb:focus{
	outline: none;
}
.sb_img{
	height: 24px;
	margin: 1px;
}
.middle{
	display: inline-flex;
}
.middle_link{
	color: #3c4043;
	text-decoration: none;
	margin: 32px;
	font-size: 15px;
	white-space: nowrap;
}
.nav{
	margin: 15px;
	font-size: 14px;
	color: #70757a;
}
@media (min-width: 670px) {
	#upper_nav{
		display: inline-flex;
		float: left;
		position: absolute;
		bottom: 0;
		left: 30px;
	}
	#lower_nav{
		display: inline-flex;
		float: right;
		position: absolute;
		bottom: 0;
		right: 30px;
	}
}
@media (max-width:670px) {
	#upper_nav,#lower_nav{
		width: 100vw;
		display: inline-flex;
		justify-content: center;
		position: absolute;
		min-width: 400px;
	}
	#upper_nav{
		bottom: 60px;
		flex-wrap: wrap;
		white-space: nowrap;
	}
	#lower_nav{
		bottom: 15px;
	}
}