body{
	background: #d3d4cf;
}
#user{
	width: 1cm;
	height: 1cm;
	border-radius: 50%;
	margin: -0.2cm -0.1cm -0.1cm 0;
}
#menu{
	width: 0.8cm;
	height: 0.8cm;
	margin: -0.15cm -0.2cm -0.15cm 0;
}
.link{
	text-decoration: none;
	color: black;
	padding: 0.1cm;
}
.top_left{
	right: 0.3cm;
	display: inline-block;
	float: right;
	margin: 0.2cm 0.2cm 0.2cm 0;
}
.center{
	width: 99%;
	height: 100%;
	display: flex;
	justify-content: center;
}
#logo{
	max-width: 10cm;
	min-width: 4cm;
	width: 60%;
	margin-top: 1cm;
}
.sb_img{
	height: 0.8cm;
	width: 0.8cm;
	margin-top: 1.1cm;
}
#search_bar{
	max-width: 16cm;
	min-width: 6cm;
	width: 80%;
	margin-top: 1cm;
	height: 1cm;
	border: solid 0;
	border-radius: 1cm;
}
#search_bar:focus{
	outline: none;
}
.middle{
	padding: 1cm 0.5cm 1cm 0.5cm;
}
.nav{
	padding: 0 0.3cm 0.1cm 0.3cm;
}
.bottom{
  position: fixed;
  bottom: 1cm;
  width: 100%;
  min-width: 5cm;
  text-align: center;
}